// doc styles

.docs-content {
  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: minmax(min-content, auto);
  grid-gap: 0;
  @media (max-width: 980px) {
    grid-template-columns: auto;
  }
}

aside {
  position: fixed;
  top: 64px;
  width: 280px;
  grid-column: 1;
  grid-row: 2;
  padding: 48px 36px;
  color: $black;
  li {
    line-height: 22px;
    padding-bottom: 12px;
    a {
      opacity: 0.7;
    }
    a:hover {
      opacity: 1;
      text-decoration: none;
    }
    a:active {
      color: $red;
    }
  }
  @media (max-width: 980px) {
    display: none;
  }
}

main {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-self: center;
  border-left: 1px solid rgba($black, 0.2);
  .chapter {
    padding: 0 48px 48px 48px;
    margin: 0 auto;
    max-width: 960px;
  }
  color: $black;
  h1 {
    color: $blue;
    padding-top: 112px;
  }
  h3 {
    padding: 64px 0 24px 0;
  }
  code {
    background-color: #f2f2f2;
    padding: 3px;
    color: #494949;
  }
  @media (max-width: 640px) {
    .chapter {
      padding: 0 32px 32px 32px;
    }
    h1 {
      padding-top: 96px;
    }
    h3 {
      padding: 36px 0 16px;
    }
    code {
      padding: 2px 3px;
    }
  }
}
