// Footer

.global-footer {
  z-index: 10;
  background-color: $white;
  padding: 0 48px 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  ul {
    display: flex;
    flex-wrap: wrap;
    line-height: 32px;
    justify-content: center;
    li {
      margin: 0 9px;
    }
    a {
      color: $black;
    }
  }
  &.garden {
    background-color: $blue;
    a {
      color: white;
    }
  }
}
