.garden-header {
  position: fixed;
  top: 220px;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 0 48px 0;
  background-color: $blue;
  color: $white;
  text-align: center;
  h1 {
    margin-bottom: 16px;
  }
  a {
    border: 1px solid $white;
  }
}
.gardens-content {
  margin-top: 64px;
  background-color: $blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  pre {
    color: $white;
    font-family: "Courier New", Courier, monospace;
  }
}
