@font-face {
  font-family: RelativeFont;
  src: url("../fonts/relative-book.otf") format("opentype");
}

@font-face {
  font-family: RelativeFont;
  font-style: italic;
  src: url("../fonts/relative-book-italic.otf") format("opentype");
}

@font-face {
  font-family: RelativeFont;
  font-weight: bold;
  src: url("../fonts/Relative-Bold.otf") format("opentype");
}

@font-face {
  font-family: GTAmericaMono;
  src: url("../fonts/GT America Mono Regular.otf") format("opentype");
}

body {
  background-color: #f7f7f2;
  color: #28333d;
  font-family: RelativeFont;
  margin: 0;
}

p {
  line-height: 135%;
}

.content {
  margin: 0 auto;
  max-width: 780px;
}

header {
  text-align: center;
  padding-top: 72px;
  padding-bottom: 48px;
}

header h1 {
  font-family: GTAmericaMono;
  font-size: 24px;
  font-weight: normal;
}
header h3 {
  font-weight: normal;
  color: #546474;
}

.repl {
  height: 440px;
  width: 780px;
}

footer {
  margin: 48px auto 72px;
  max-width: 780px;
  display: flex;
  flex-direction: row;
  color: #546474;
}

footer h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
}

.about {
  padding-right: 24px;
}

.contact,
.about {
  min-width: 378px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.social a {
  color: #6e41e0;
}

.social p {
  margin: 0;
  color: #20d479;
}

.docs {
  background-color: white;
  padding-bottom: 48px;
}

.docs .content {
  margin: 0 auto;
  max-width: 780px;
}

.docs h4 {
  padding: 64px 0 32px;
}

.docs pre {
  padding: 32px 0;
  background-color: #f8f8f8;
  margin-bottom: 48px;
}
