@font-face {
  font-family: RelativeFont;
  src: url("../fonts/relative-book.otf") format("opentype");
}

@font-face {
  font-family: RelativeFont;
  font-style: italic;
  src: url("../fonts/relative-book-italic.otf") format("opentype");
}

@font-face {
  font-family: RelativeFont;
  font-weight: bold;
  src: url("../fonts/Relative-Bold.otf") format("opentype");
}

@font-face {
  font-family: GTAmericaMono;
  src: url("../fonts/GT America Mono Regular.otf") format("opentype");
}

body {
  background-color: #f7f7f2;
  color: #28333d;
  font-family: RelativeFont;
  margin: 0;
}

p {
  line-height: 135%;
}

.content {
  margin: 0 auto;
  max-width: 780px;
}

header {
  text-align: center;
  padding-top: 72px;
  padding-bottom: 48px;
}

header h1 {
  font-family: GTAmericaMono;
  font-size: 24px;
  font-weight: normal;
}
header h3 {
  font-weight: normal;
  color: #546474;
}

.repl {
  height: 440px;
  width: 780px;
}

footer {
  margin: 72px auto;
  max-width: 780px;
  display: flex;
  flex-direction: row;
  color: #546474;
}

footer h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
}

.contact a {
  padding-top: 16px;
  color: #6e41e0;
}
