@font-face {
  font-family: FuturaFont;
  src: url("../fonts/TheFutureMono01-Bold.otf") format("opentype");
}

body {
  background-color: #ffffff;
  color: #000000;
}

.wrapper {
  padding: 8vw;
}
h1 {
  font-family: FuturaFont, Futura, Sans-Serif;
  font-size: calc(24px + (124 - 24) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

p {
  font-family: monospace;
  color: #ff55ff;
  font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
  padding-top: 8vh;
}
