.asciinema-theme-blue .asciinema-terminal {
  color: #fff;                    /* default text color */
  background-color: #5555ff;         /* terminal background color */
  border-color: #5555ff;
  font-family: 'FoundersGroteskMono';
}
.asciinema-theme-blue .fg-bg {    /* inverse for default text color */
  color: #000;
}
.asciinema-theme-blue .bg-fg {    /* inverse for terminal background color */
  background-color: #f8f8f2;
}
.asciinema-theme-blue .fg-0 {
  color: #272822;
}
.asciinema-theme-blue .bg-0 {
  background-color: #272822;
}
.asciinema-theme-blue .fg-1 {
  color: #f92672;
}
.asciinema-theme-blue .bg-1 {
  background-color: #f92672;
}
.asciinema-theme-blue .fg-2 {
  color: #a6e22e;
}
.asciinema-theme-blue .bg-2 {
  background-color: #a6e22e;
}
.asciinema-theme-blue .fg-3 {
  color: #f4bf75;
}
.asciinema-theme-blue .bg-3 {
  background-color: #f4bf75;
}
.asciinema-theme-blue .fg-4 {
  color: #66d9ef;
}
.asciinema-theme-blue .bg-4 {
  background-color: #66d9ef;
}
.asciinema-theme-blue .fg-5 {
  color: #ae81ff;
}
.asciinema-theme-blue .bg-5 {
  background-color: #ae81ff;
}
.asciinema-theme-blue .fg-6 {
  color: #a1efe4;
}
.asciinema-theme-blue .bg-6 {
  background-color: #a1efe4;
}
.asciinema-theme-blue .fg-7 {
  color: #f8f8f2;
}
.asciinema-theme-blue .bg-7 {
  background-color: #f8f8f2;
}
.asciinema-theme-blue .fg-8 {
  color: #75715e;
}
.asciinema-theme-blue .bg-8 {
  background-color: #75715e;
}
.asciinema-theme-blue .fg-9 {
  color: #f92672;
}
.asciinema-theme-blue .bg-9 {
  background-color: #f92672;
}
.asciinema-theme-blue .fg-10 {
  color: #a6e22e;
}
.asciinema-theme-blue .bg-10 {
  background-color: #a6e22e;
}
.asciinema-theme-blue .fg-11 {
  color: #f4bf75;
}
.asciinema-theme-blue .bg-11 {
  background-color: #f4bf75;
}
.asciinema-theme-blue .fg-12 {
  color: #66d9ef;
}
.asciinema-theme-blue .bg-12 {
  background-color: #66d9ef;
}
.asciinema-theme-blue .fg-13 {
  color: #ae81ff;
}
.asciinema-theme-blue .bg-13 {
  background-color: #ae81ff;
}
.asciinema-theme-blue .fg-14 {
  color: #a1efe4;
}
.asciinema-theme-blue .bg-14 {
  background-color: #a1efe4;
}
.asciinema-theme-blue .fg-15 {
  color: #f9f8f5;
}
.asciinema-theme-blue .bg-15 {
  background-color: #f9f8f5;
}
.asciinema-theme-blue .fg-234 {
  color: #fff;
}
.asciinema-theme-blue .fg-236 {
  color: #fff;
}
.asciinema-theme-blue .fg-238 {
  color: #fff;
}
.asciinema-theme-blue .fg-251 {
  color: #fff;
}
.asciinema-theme-blue .fg-8,
.asciinema-theme-blue .fg-9,
.asciinema-theme-blue .fg-10,
.asciinema-theme-blue .fg-11,
.asciinema-theme-blue .fg-12,
.asciinema-theme-blue .fg-13,
.asciinema-theme-blue .fg-14,
.asciinema-theme-blue .fg-15 {
  font-weight: bold;
}
.asciinema-theme-blue .control-bar { display: none; }
