<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ $.Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ "css/styles.css" | relURL }}"
    />
  </head>

  <body>
    <div class="narrow-menu" id="narrow-menu">
     <ul>
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
        {{ end }}
      </ul>
      <button class="cross" id="close"></button>
    </div>
    <div class="nav-bar">
      <a href="/" class="rad-nav-logo"></a>
      <button class="hamburger" id="open">Menu</button>
      <div class="bar">
        <nav>
     <ul>
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
        {{ end }}
      </ul>
        </nav>
        <a href="/docs.html#start" class="header-btn">try</a>
      </div>
    </div>
    <div class="blog-content">
      <h1>Radicle Blog</h1>
      <article>
        <h3>Radicle</h3>
        <span>February 11, 2019 — Firstname Lastname</span>
        <blockquote>
          ... because 'tis the Origin of the Root... The Radicle is likewise
          called the seminal Root.<br />
          <cite>
            — Vallemont, Curiosities of nature and art in husbandry and
            gardening (1707)
          </cite>
        </blockquote>
        <p>
          Radicle is a peer-to-peer stack for creating open source software
          together. A collaboration environment that’s designed to be:
        </p>
        <ul>
          <li>
            <strong>Offline first</strong>: all data, including issues, comments
            and other social artifacts is yours &amp; lives on your machine.
          </li>
          <li>
            <strong>Peer-to-peer</strong>: with no central server or
            intermediary in control.
          </li>
          <li>
            <strong>Cryptographically secure</strong>: user data that is
            tamper-proof &amp; unforgeable, using public key cryptography.
          </li>
          <li>
            <strong>Programmable</strong>: developers can program the way in
            which they collaborate.
          </li>
          <li>
            <strong>Interoperable &amp; open</strong>: reflecting the values of
            the open source community.
          </li>
        </ul>
        <p>
          Radicle integrates with distributed version control systems like git
          and includes a high-level language with reprogrammable semantics, P2P
          networking for sharing application state, and flexible command line
          tools. Inspired by P2P protocols like
          <a href="https://www.scuttlebutt.nz/">secure scuttlebutt</a>, radicle
          connects distributed version control with peer-to-peer networking and
          extends the idea of replicated logs to fully re-programmable state
          machines we call <em>chains</em>.
        </p>
        <p>
          Today we’re releasing a core component of the radicle stack, an
          implementation of the
          <a href="https://github.com/oscoin/radicle">radicle language</a>,
          along with a
          <a
            href="https://ipfs.io/ipfs/QmadmGA6mBWZ93Wv4XKuCu9wdPf7Da8pjH3Corzpe9VGZg"
            >paper</a
          >
          describing its formal semantics.
        </p>
        <h4>The radicle stack</h4>
        <p>
          The radicle language is the basis for a stack of components that
          together compose a fully featured collaborative programming
          environment.
        </p>
        <p>
          <strong>radicle</strong>: Language for specifying, interpreting, and
          dynamically modifying the semantics of arbitrary state machines.
        </p>
        <p>
          <strong>radicle-p2p</strong>: Peer-to-peer gossip and state
          replication layer for publishing and subscribing to updates from other
          collaborators.
        </p>
        <p>
          <strong>radicle-lib</strong>: Library of collaboration primitives,
          including repos, orgs, revisions, issues, comments, feeds, plus tools
          for creating and manipulating chains.
        </p>
        <p>
          In the coming months we’ll be sharing more details about these
          components and making an initial release available for developers,
          along with tutorials on how to get started.
        </p>

        <h4>The radicle language</h4>

        <p>
          Radicle is a universal re-programmable state machine. More precisely,
          it's a domain specific language for creating replicated state machines
          that can dynamically modify their semantics.
        </p>
        <p>
          Not only can radicle programs evolve as they advance, this sequential
          evaluation produces a chain of deterministic state transitions. Chains
          can represent simple issue logs or more complex structures such as
          full review flows or testing suites. Because radicle chains store
          histories of verifiable instructions, they can also be safely
          replicated across machines. The result is an interactive paradigm,
          where developers can write collaborative programs that describe their
          working process as it unfolds.
        </p>
        <p>
          The radicle language features a number of design choices intended
          specifically for the above use-case:
        </p>
        <ul>
          <li>
            High-level, LISP dialect in the flavor of
            <a href="http://pllab.is.ocha.ac.jp/%7Easai/Black/">Black</a>.
          </li>
          <li>
            Ability to redefine the <code>eval</code> function, changing the
            semantics of the language.
          </li>
          <li>
            Lexically scoped with a hyperstatic global environment, i.e. free
            variable resolution takes place at definition-site rather than
            call-site.
          </li>
          <li>
            First-class functions for side-effect free computation on chain.
          </li>
          <li>Immutable by default.</li>
          <li>Deterministic effects system for managing state.</li>
          <li>Syntax closely resembling Clojure.</li>
        </ul>
        <p>
          For a more in-depth overview of the radicle language, refer to our
          <a
            href="https://ipfs.io/ipfs/QmadmGA6mBWZ93Wv4XKuCu9wdPf7Da8pjH3Corzpe9VGZg"
            >paper</a
          >.
        </p>
        <h4>New ways to collaborate on code</h4>
        <p>
          Radicle makes collaboration a primitive -- starting with git and
          building up an entirely peer-to-peer developer experience that
          encourages experimentation around how we write software together. In
          other words, radicle lets developers program the process of writing
          code, shaping their workflow around a specific project or context.
        </p>
        <p>
          Like many P2P systems, radicle uses an offline-first model. Issues,
          comments, and other social artifacts are stored locally as a log of
          events and synced automatically with your collaborators. While git
          repositories are already portable, social artifacts are not - radicle
          aims to change this. Radicle also allows you to define entirely new
          message types: projects, feature requests, releases, etc., each with
          their own event streams, metadata, and access control policies. All of
          this information is completely portable and self-amending in situ.
        </p>
        <p>
          Making any kind of semantic modification to a decentralized data
          structure is typically difficult to coordinate and prone to forks, but
          radicle’s programmable evaluator makes this process straightforward,
          safe, and immediate. Additionally, built-in aggregate signatures allow
          for the definition of custom security models to read or modify each
          chain, even to revise an access control policy.
        </p>
        <p>
          Finally, radicle comes with sensible defaults, ensuring you can be
          productive right away, while also giving programmers a flexible system
          for rolling their own software collaboration workflow. Inspired in
          many ways by
          <a href="https://www.gnu.org/software/emacs/">Emacs</a>, radicle is
          designed as an extensible system, where developers can share their
          programs with one another and extend their revision control
          environment however they like.
        </p>
        <p>
          We’re very excited to
          <a href="https://github.com/oscoin/radicle">open-source</a> the
          radicle language and soon the full radicle stack.
        </p>
        <p>✌️</p>
      </article>

      <article>
        <h3>Oscoin</h3>
        <span>February 11, 2019 — Firstname Lastname</span>
        <blockquote>
          It is in this light that we must recognize that only a restoration of
          open-source culture, and all that enables across the full spectrum of
          open-source possibilities, can allow humanity to harness the
          distributed intelligence of the collective and create the equivalent
          of heaven on Earth — in other words, a world that works for all.<br />
          <cite>– The Open-Source Everything Manifesto</cite>
        </blockquote>
        <p>
          Over the last few decades, with the emergence of open-source software,
          we've experienced an unprecedented acceleration in the development of
          our digital infrastructure, one that has become a new
          <em>commons</em> — a public good we are now collectively responsible
          for. But we are all familiar with cases like Heartbleed,<sup
            ><a href="">1</a></sup
          >
          with developer burn-out,<sup><a href="">2</a></sup> with projects
          acquired by ill-incentivized or incompetent parties.<sup
            ><a href="">3</a></sup
          ><sup><a href="">4</a></sup> Today, many valuable OSS projects are
          unable to define themselves in traditional market terms,<sup
            ><a href="">5</a></sup
          >
          while others find it incompatible with their ethics and struggle
          without financial support.
        </p>
        <p>
          But what if we had the means to improve upon this? What if we could
          create a decentralized network run by the community and contributors,
          with a sustainable economy to back it — one in which profits would be
          redistributed back to those who created value in the first place?
        </p>
        <p>
          By combining distributed version-control, content-addressable
          decentralized storage and distributed ledger systems such as
          blockchain, we can fulfill this vision today.
        </p>
        <p>
          We live in a time when the original promise of the internet has failed
          us. Our online activity is owned by a few large corporations, and a
          large part of open-source collaboration is locked in for-profit
          products. What used to be an open and decentralized process
          <sup><a href="">6</a></sup> is now controlled by a few major players.
          <sup><a href="">7</a></sup> The reason is that OSS is no longer just
          about the code — it’s about much more today, including distribution,
          hosting, collaboration and financing, and these requirements were only
          able to be met by centralized for-profit organizations.
        </p>
        <hr class="skip" />
        <p>
          By moving the open-source ecosystem onto the blockchain, backed by its
          own cryptocurrency, we enable all of this activity to happen in the
          open, in a network that cannot be censored or controlled by any one
          party. But most importantly we enable fair and transparent
          redistribution of proceeds generated by the network; through a system
          of self-governance and smart-contracts operated and maintained by the
          community.
        </p>
        <p>The key components of such a system include:</p>
        <ul>
          <li>A new token called <strong>open source coin</strong>.</li>
          <li>A blockchain of commit hashes.</li>
          <li>
            A permissionless network with proof-of-stake<sup
              ><a href="">8</a></sup
            >
            membership.
          </li>
          <li>
            A treasury system as seen in Dash,<sup><a href="">9</a></sup>
            to fund open-source work on the network, including oscoin’s own
            roadmap.
          </li>
          <li>
            An on-chain governance system based on proposals, allowing atomic
            changes to smart-contract or regular code, including the oscoin
            protocol itself.
          </li>
          <li>
            A community-owned ‘blessed’ code repository of smart-contracts
            defining the token distribution mechanism used to reward and
            incentivize projects.
          </li>
        </ul>
        <p>
          Fundamentally, we are proposing a crypto-economy<sup
            ><a href="">10</a></sup
          >
          based on the ideas of 'inflation funding'<sup><a href="">11</a></sup>
          and 'curation markets.'<sup><a href="">12</a></sup> By design, token
          supply increases at a predefined rate through minting. These newly
          minted tokens are used to reward open-source projects. Furthermore, an
          open marketplace is introduced in which participants can coordinate
          and cooperate by exchanging tokens for work within the network.
        </p>
        <p>
          We believe that with this infrastructure in place we’ll be able to
          solve many of the core problems in open-source today, while also
          introducing more developers to the new token economy.
        </p>
        <p>
          Currently, we’re working on a prototype of the main protocol and a
          technical whitepaper which will introduce all of these concepts in
          depth, and present our solution more thoroughly.
        </p>
        <p>
          We are talking to many members of the community and taking your
          feedback to help make this a reality. If you’re interested in hearing
          more about the project or would like to reach out, we can be found at:
          <strong>hello</strong> at <strong>oscoin</strong> dot
          <strong>io</strong> — we'd love to hear from you.
        </p>
        <p>Thanks for reading,</p>
        <p>
          <cite
            ><a href="https://twitter.com/cloudhead">@cloudhead</a> and
            <a href="https://twitter.com/lftherios">@lftherios</a></cite
          >
        </p>
        <div class="footnotes">
          <hr />
          <ol>
            <li>
              Heartbleed.
              <a
                href="http://veridicalsystems.com/blog/of-money-responsibility-and-pride/"
                >http://veridicalsystems.com/blog/of-money-responsibility-and-pride/</a
              >&nbsp;<a href="">↩</a>
            </li>
            <li>
              Roads and Bridges. The Unseen labor behind our digital
              infrastructure
              <a
                href="https://www.fordfoundation.org/library/reports-and-studies/roads-and-bridges-the-unseen-labor-behind-our-digital-infrastructure/"
                >https://www.fordfoundation.org/library/reports-and-studies/roads-and-bridges-the-unseen-labor-behind-our-digital-infrastructure/</a
              >&nbsp;<a href="">↩</a>
            </li>
            <li>
              The Node.js vs io.js: Why the fork?!?
              <a
                href="http://anandmanisankar.com/posts/nodejs-iojs-why-the-fork/"
                >http://anandmanisankar.com/posts/nodejs-iojs-why-the-fork/</a
              >&nbsp;<a href="">↩</a>
            </li>
            <li>
              The Sudden Death and Eternal Life of Solaris
              <a
                href="http://dtrace.org/blogs/bmc/2017/09/04/the-sudden-death-and-eternal-life-of-solaris/"
                >http://dtrace.org/blogs/bmc/2017/09/04/the-sudden-death-and-eternal-life-of-solaris/</a
              >&nbsp;<a href="">↩</a>
            </li>
            <li>
              Open-Source Won. So, Now What?
              <a href="https://www.wired.com/2016/08/open-source-won-now/"
                >https://www.wired.com/2016/08/open-source-won-now/</a
              >&nbsp;<a href="">↩</a>
            </li>
            <li>
              Before GitHub, the majority of open-source contributions were sent
              as patches to maintainers on mailing lists. This is still how the
              Linux kernel project operates.&nbsp;<a href="">↩</a>
            </li>
            <li>
              The Problem with putting all the world’s code on github.
              <a
                href="https://www.wired.com/2015/06/problem-putting-worlds-code-github/"
                >https://www.wired.com/2015/06/problem-putting-worlds-code-github/</a
              >&nbsp;<a href="">↩</a>
            </li>
            <li>
              Proof-of-stake consensus.
              <a href="https://en.wikipedia.org/wiki/Proof-of-stake"
                >https://en.wikipedia.org/wiki/Proof-of-stake</a
              >&nbsp;<a href="">↩</a>
            </li>
            <li>
              Dash's "treasury system."
              <a
                href="https://en.wikipedia.org/wiki/Dash_(cryptocurrency)#Governance_and_funding"
                >https://en.wikipedia.org/wiki/Dash_(cryptocurrency)#Governance_and_funding</a
              >&nbsp;<a href="">↩</a>
            </li>
            <li>
              Blockchains will replace networks with markets.
              <a
                href="https://twitter.com/naval/status/877467629308395521?lang=en"
                >https://twitter.com/naval/status/877467629308395521?lang=en</a
              >&nbsp;<a href="">↩</a>
            </li>
            <li>
              Funding the Evolution of Blockchains
              <a
                href="https://medium.com/@FEhrsam/funding-the-evolution-of-blockchains-87d160988481"
                >https://medium.com/@FEhrsam/funding-the-evolution-of-blockchains-87d160988481</a
              >&nbsp;<a href="">↩</a>
            </li>
            <li>
              Introducing 'Curation Markets'.
              <a
                href="https://medium.com/@simondlr/introducing-curation-markets-trade-popularity-of-memes-information-with-code-70bf6fed9881"
                >https://medium.com/@simondlr/introducing-curation-markets-trade-popularity-of-memes-information-with-code-70bf6fed9881</a
              >&nbsp;<a href="">↩</a>
            </li>
          </ol>
        </div>
      </article>
      <div class="controls">
        <a href="">← Older Posts</a>
        <a href="">Newer Posts →</a>
      </div>
    </div>
    <section class="divider white line opacity"></section>
    <footer class="global-footer">
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/">Twitter</a></li>
        <li><a href="/">Mastodon</a></li>
        <li><a href="irc://freenode:1/radicle">IRC</a></li>
        <li><a href="/">Email</a></li>
        <li><a href="/">Code of conduct</a></li>
        <li>
          <a href="https://github.com/oscoin/radicle" target="blank">Github</a>
        </li>
        <li><a href="/">Radicle project</a></li>
        <li>
          <a href="https://github.com/oscoin/radicle/blob/master/LICENSE"
            >License</a
          >
        </li>
      </ul>
    </footer>
    <script src="{{ "js/perlin.js" | relURL }}"></script>
    <script src="{{ "js/rad.js" | relURL }}"></script>
  </body>
</html>
