<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ $.Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
  <div class="narrow-menu" id="narrow-menu">
    <ul>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <button class="cross" id="close"></button>
  </div>
  <div class="nav-bar">
    <a href="/" class="rad-nav-logo"></a>
    <button class="hamburger" id="open">Menu</button>
    <div class="bar">
      <nav>
        <ul>
          {{ range .Site.Menus.main }}
          <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
      <a href="/docs/#installation-setup" class="header-btn">install</a>
    </div>
  </div>
  <div class="about-content">
    <section id="about">
      <h1>About</h1>
      <p>
        Radicle is a developer stack and peer-to-peer network for creating open source software together.
      </p>
      <p>
        This project is still in <em>alpha</em>. You may find the documentation lacking, or encounter bugs
        and features missing. Please be patient and we <a href="/docs/#get-involved">welcome
          subissions</a>!
      </p>
      <p>
        Radicle is free and open source software, sprouted and supported
        by <a href="http://monadic.xyz">Monadic</a>.
      </p>
      <h1>
        🌿
      </h1>
    </section>

  </div>
  <div class="divider white line opacity"></div>
  <footer class="global-footer">
    <ul>
      {{ range .Site.Menus.footer }}
      <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </footer>
  <script src="{{ "js/perlin.js" | relURL }}"></script>
  <script src="{{ "js/rad.js" | relURL }}"></script>
</body>

</html>