{{ define "main" }}
<div class="large-content">
  <section class="collab">
    <div id="peer">
      <h2>Peer–to–peer</h2>
      <p>
        Open source development is a fundamentally P2P process. The Radicle stack builds on IPFS to
        enable fully peer-to-peer conversations with code.
      </p>
    </div>
    <div id="term">
      <h2>Terminal-first</h2>
      <p>
        Radicle's collaboration apps bring issue management and patch proposal
        tools into the terminal. Coordinate
        with peers and manage contributions using simple command line utilities.
      </p>
    </div>
    <div id="prog">
      <h2>Programmable</h2>
      <p>
        Apps are written in the Radicle language, a Lisp dialect designed
        specifically for creating programs that sync across a
        peer-to-peer network. Resources for developing your
        own Radicle apps coming soon!
      </p>
    </div>
  </section>
  <section class="try">
    <h1>Collaborate with Radicle</h1>

    <div class="try-section">
      <h2>Setup a project</h2>
      <p>
        <code>rad project</code> allows you to create, checkout, manage, and publish a project, comprised of issues,
        patch proposals, and a git repo.
      </p>
      <div class="terminal">
        <pre>
$ rad project init
? What's the name of your project? radicle-garden
? Briefly describe your project? A community garden
=> Creating git repository
=> Adding "origin" remote: ipfs://ipns/12D3KooW...
=> Adding issues to your project
=> Adding patches to your project
=> Project created with id: 12D3KooW...
          </pre>
      </div>
    </div>

    <div class="try-section">
      <h2>Manage your issues</h2>
      <p>
        <code>rad issue</code> brings issue management to the command line.
        Create, view, list, and comment to heart's content.
      </p>
      <div class="terminal blue">
        <pre>
$ rad issue list
#  state   title                author   updated
1  open    Patch not accepted    janedoe  2019-01-25 13:27
0  closed  How do I contribute  randy    2019-01-25 09:14

$ rad issue comment 1 "probably the wrong size"
Added comment to issue #1
          </pre>
      </div>
    </div>

    <div class="try-section">
      <h2>Collaborate on code</h2>
      <p>
        <code>rad patch</code> gives you the tools to collaborate on git
        repositories, completely P2P. Propose and track changes to projects you follow using a patch-based
        collaboration
        model.
      </p>
      <div class="terminal">
        <pre>
$ rad patch list
#  state     commit                author   updated
1  pending   Make docs friendlier  janedoe  2019-01-25 13:27
0  accepted  Typo fixes            willyg   2019-01-25 09:14

$ rad patch accept 1
Merging proposal #2 with master
          </pre>
      </div>
    </div>

    <a class="button guide-cta" href="/docs#tutorial-part-1-contributor">Learn Radicle with our intro guide<span>→</span></a>

    <div class="globe"></div>
  </section>

  <div class="divider" data-rad-divider-density="5" data-rad-divider-ondulation="40" data-rad-divider-speed="5">
  </div>

  <section class="stack">
    <div class="text">
      <h1>Radicle Stack</h1>
      <p>
        Each Radicle app is a peer-to-peer program that syncs with anyone
        who checks out your open source project.
        <br /><br />
        Taking inspiration from the original git model, where a single
        repo maintainer accepts patches, our Radicle alpha apps are administered
        by the project owner -- updates can be submitted by any
        peer on the Radicle network.
        <br /><br />
        In the coming months we’ll be sharing more about the Radicle technical stack
        and releasing documentation that will allow you
        to write your own apps using the same peer-to-peer
        infrastructure.
      </p>
    </div>
    <div class="illustration"></div>
    <a class="button" href="/docs/#radicle-p2p-architecture">
      More about the Radicle stack<span>→</span>
    </a>
  </section>

  <div class="divider white" data-rad-divider-density="10" data-rad-divider-ondulation="40" data-rad-divider-speed="10">
  </div>
</div>
{{ end }}