{{ define "main" }}
<div class="large-content">
  <section class="collab">
    <div id="peer">
      <h2>Peer–to–peer</h2>
      <p>
        The Radicle stack builds on IPFS, and works without a centralized server. No hassle with setting up
        your own hosting, and no need to trust companies with your data.
      </p>
    </div>
    <div id="term">
      <h2>Terminal-first</h2>
      <p>
        A Radicle project contains a git repository, plus the associated
        issues and proposals. Access all the issues and proposals
        associated with your codebase right from your terminal.
      </p>
    </div>
    <div id="prog">
      <h2>Programmable</h2>
      <p>
        Ever wanted to customize your code collaboration platform?
        Each Radicle utility &mdash;<em>or machine</em>&mdash;is its
        own P2P program written in the Radicle language. Change
        machines to suit your needs, or create entirely new ones. Dev docs coming soon!
      </p>
    </div>
  </section>
  <section class="try">
    <h1>Collaborate with Radicle</h1>

    <div class="try-section">
      <h2>Setup a project</h2>
      <p>
        <code>rad project</code> allows you to create, checkout, manage, and publish a project, comprised of issues,
        patch proposals, and a git repo.
      </p>
      <div class="terminal">
        <pre>
$ rad project init
? What's the name of your project? radicle-garden
? Briefly describe your project? A community garden
=> Creating git repository
=> Adding "origin" remote: ipfs://ipns/12D3KooW...
=> Adding issues to your project
=> Adding patches to your project
=> Project created with id: 12D3KooW...
          </pre>
      </div>
    </div>

    <div class="try-section">
      <h2>Manage issues</h2>
      <p>
        <code>rad issue</code> allows you to view, create, and comment on
        issues directly from your project directory.
      </p>
      <div class="terminal blue">
        <pre>
$ rad issue list
#  state   title                 author   updated
1  open    Patch not accepted    celia    2019-01-25 13:27
0  closed  How do I contribute?  alex     2019-01-25 09:14

$ rad issue comment 1 "probably the wrong dimensions"
Added comment to issue #1
          </pre>
      </div>
    </div>

    <div class="try-section">
      <h2>Propose changes</h2>
      <p>
        <code>rad patch</code> provides a simple system for proposing and
        discussing changes to a git repository. </p>
      <div class="terminal">
        <pre>
$ rad patch list
#  state     commit                author   updated
1  pending   Make docs friendlier  vera     2019-01-25 13:27
0  accepted  Typo fixes            jules    2019-01-25 09:14

$ rad patch accept 1
Merging proposal #2 with master
          </pre>
      </div>
    </div>

    <a class="button guide-cta" href="/docs#tutorial-1-contributor">Learn Radicle with our intro guide<span>→</span></a>

    <div class="globe"></div>
  </section>

  <div class="divider" data-rad-divider-density="2" data-rad-divider-ondulation="40" data-rad-divider-speed="3">
  </div>

  <section class="stack">
    <div class="text">
      <h1>Radicle Stack</h1>
      <p>
        Radicle utilities are written in the Radicle language, a deterministic
        Lisp dialect built for creating P2P programs. Each instance of a
        utility is a replicated state machine with state updates distributed
        and replicated via IPFS.
        <br><br>
        The Radicle daemon materializes machines from the local event log,
        allowing you to query a machine's state, and handles the submission of
        new expressions.
        <br><br>
        We have also created an IPFS git remote helper for hosting your code on
        IPFS. Together with utilities such as <code>rad project</code> <code>rad
        issues</code>, and <code>rad patches</code>, you can now have an
        entirely decentralized code collaboration experience.
      </p>
    </div>
    <div class="illustration"></div>
    <a class="button" href="/docs/#radicle-p2p-architecture">
      More about the Radicle stack<span>→</span>
    </a>
  </section>

  <div class="divider white" data-rad-divider-density="4" data-rad-divider-ondulation="60" data-rad-divider-speed="5">
  </div>
</div>
{{ end }}
