<footer class="global-footer">
        <ul>
          {{ range .Site.Menus.footer }}
          <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
          {{ end }}
        </ul>
</footer>
<script src="{{ "js/perlin.js" | relURL }}"></script>
<script src="{{ "js/rad.js" | relURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>renderMathInElement(document.body);</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
