<body>
    <div class="narrow-menu" id="narrow-menu">
      <ul>
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
        {{ end }}
      </ul>
      <button class="cross" id="close"></button>
    </div>
    <div class="nav-bar">
      <a href="/" class="rad-nav-logo"></a>
      <button class="hamburger" id="open">Menu</button>
      <div class="bar">
        <nav>
      <ul>
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
        {{ end }}
      </ul>
        </nav>
        <a href="/docs.html#start" class="header-btn">try</a>
      </div>
    </div>
    <div class="docs-content">
      <aside>
        <ul>
        {{- range (where .Data.Pages "Section" "docs") }}
          <li><a href="{{ .Permalink }}">
            {{ .Title }}
          </a></li>
      {{- end }}
    </ul>
      </aside>

      <main>

    {{ range first 10 .Pages }}
    <section class="chapter">
      <!-- this <div> includes the title summary -->
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p>{{ .Summary }}</p>
      {{ if .Truncated }}
      <!-- This <div> includes a read more link, but only if the summary is truncated... -->
      <div>
        <a href="{{ .RelPermalink }}">Read More…</a>
      </div>
      {{ end }}
    </section>
    <section class="divider white line opacity"></section>
{{ end }}

        <section class="chapter">
          <h1 id="intro">Introduction</h1>
          <h3>The case for Radicle</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>Terminal first, offline first</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>Radicle & OSCoin</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
        </section>
        <section class="divider white line opacity"></section>

        <section class="chapter">
          <h1 id="install">Installation</h1>
          <h3>OSX</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>Linux</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
        </section>
        <section class="divider white line opacity"></section>

        <section class="chapter">
          <h1 id="start">Get started</h1>
          <h3>Contribute to a project</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>Start your own project</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
        </section>
        <section class="divider white line opacity"></section>

        <section class="chapter">
          <h1 id="concepts">Terminology & Key Concepts</h1>
          <h3>Radicle State Machines (RSM)</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>Radicle language</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>Radicle daemon</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>Radicle apps</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>Radicle projects</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>Storage & Networking in Radicle</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
        </section>
        <section class="divider white line opacity"></section>

        <section class="chapter">
          <h1 id="ref">Reference</h1>
          <h3>rad issues</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>rad diff</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>rad project</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
        </section>
        <section class="divider white line opacity"></section>

        <section class="chapter">
          <h1 id="helper">git remote helper</h1>
          <h3>how it works</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
        </section>
        <section class="divider white line opacity"></section>

        <section class="chapter">
          <h1 id="bg">Background processes</h1>
          <h3>OS X (brew services)</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>linux (systemd)</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>manual</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>radicle daemon</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>ipfs daemon</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
        </section>
        <section class="divider white line opacity"></section>

        <section class="chapter">
          <h1 id="limit">Limitations</h1>
          <h3>IPNS lifetime</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>firewall issues</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>availability & replication</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>git remote helper limitations</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
        </section>
        <section class="divider white line opacity"></section>

        <section class="chapter">
          <h1 id="trouble">Troubleshooting</h1>
          <h3>Installation Troubleshooting</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>Networking Issues</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>Cannot resolve RSM</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
        </section>
        <section class="divider white line opacity"></section>

        <section class="chapter">
          <h1 id="faq">FAQ</h1>
          <h3>Why is P2P important for code collaboration?</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>What is the trust model of Radicle?</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>What is the difference between Radicle and Github / Gitlab ?</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>
            What is the difference between Radicle and other P2P projects like
            Dat or Scuttlebutt?
          </h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>What is the relationship between Radicle and OSCoin?</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
          <h3>Why is Radicle built on IPFS?</h3>
          <p>
            Lorem ipsum <code>rad issue</code> sit blockchain, decentralized
            economy elit, sed do replace tempor monetary ut labore et dollare
            magna distributed. Ut smart contracts ad minim transaction fees,
            quis notarization masternode <code>rad project</code> profit nisi ut
            governance ea investment consequat. Dual chain irure dolor in
            reprehenderit in voluptate sharding peg instant dollare eu fugiat
            nulla <code>rad project</code>. Entrepreneur sint opportunity
            cupidatat profound, sunt in features qui officia presale join
            telegram id est launching.
          </p>
        </section>
      </main>
    </div>
    <section class="divider white line opacity"></section>