<div class="docs-content">
    <aside>
      <ul>
        {{- range (where .Data.Pages "Section" "docs").Reverse }}
        <li><a href="/docs{{string "#"}}{{ .Title | anchorize }}">{{ .Title }}</a></li>
        {{- end }}
      </ul>
    </aside>

    <main>

      {{ range .Pages.Reverse }}
      <section class="chapter">
        {{ .Content }}
      </section>
      <section class="divider white line opacity"></section>
      {{ end }}

    </main>
  </div>
  <section class="divider white line opacity"></section>