<footer class="global-footer">
  <ul>
    <li><a href="/">About</a></li>
    <li><a href="/">Code of conduct</a></li>
    <li><a href="/">Twitter</a></li>
    <li><a href="/">Mastodon</a></li>
    <li><a href="irc://freenode:1/radicle">IRC</a></li>
    <li><a href="/">Email</a></li>
    <li><a href="/">Newsletter</a></li>
    <li>
      <a href="https://github.com/oscoin/radicle" target="blank">Github</a>
    </li>
    <li>
      <a href="https://github.com/oscoin/radicle/blob/master/LICENSE">License</a>
    </li>
  </ul>
</footer>
<script src="{{ "js/perlin.js" | relURL }}"></script>
<script src="{{ "js/rad.js" | relURL }}"></script>