<footer>
  <div class="footer-content">
        <ul>
          {{ range .Site.Menus.footer }}
          <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
          {{ end }}
        </ul>
    <section class="divider white line footer"></section>
    <div class="footer-text">
      <h1>Get involved</h1>
      <h2>How to contribute</h2>
      <div class="footer-grid">
        <p>
          We dogfood radicle! See the
          <a href="/docs.html#issues">issues documentation</a> to clone the
          repo and submit an issue directly to our project. <br /><br />
          You can find radicle's project ID here: _____________
          <br /><br />
          Having an issue submitting an issue? Send us an email at
          <a href="mailto:radicle@monadic.xyz">radicle@monadic.xyz</a>, or
          drop in the
          <a href="irc://freenode:1/radicle">#radicle</a> channel on the
          freenode IRC.
        </p>
        <p>
          The radicle development team runs weekly updates on the P2P social
          network Secure Scuttlebutt.
          <br /><br />
          Connect to our <a href="pub.os.computer">pub</a>
          and follow the #radicle-weekly-updates channel to see what we’re
          working on.
        </p>
      </div>
      <p class="p2p-links">
        Access this website on:<br />
        <a href="">dat://445b0dbc94c371e6f3a2e80da8b1107cc8f6ba13e65318c43018a8d94ef8254a</a><br />
        <a href="">https://ipfs.io/ipns/QmZrL4YkmgC7x3ZAicHx9s3fkoNgVmg87zHMSsmjRnhM23/</a>
      </p>
    </div>
  </div>
</footer>
<script src="{{ "js/perlin.js" | relURL }}"></script>
<script src="{{ "js/rad.js" | relURL }}"></script>
<script src="{{ "js/asciinema-player.js" | relURL }}"></script>