<header>
  <div class="left-header">
    <div class="small-nav">
      <a href="/docs#installation-setup" class="header-btn">{{ $.Site.Params.cta }}</a>
      <nav>
        <ul>
          {{ range .Site.Menus.main }}
          <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
      <button class="hamburger" id="narrow-open">Menu</button>
    </div>

    <div class="title">
      <div class="logo"></div>
      <h1>{{ $.Site.Params.description }}</h1>
    </div>
    <span class="disclaimer">
      WARNING: experimental software, not for production use
    </span>
  </div>
  <div class="right-header">
    <video autoplay loop>
      <source src="https://res.cloudinary.com/juliendonck/video/upload/v1551880865/creepy-fastest-joined_1_l3kwzh.mp4"
        type="video/mp4">
      {{/*
      <source src="myVideo.webm" type="video/webm"> */}}
      <p>Your browser doesn't support HTML5 video. Here is
        a <a href="https://res.cloudinary.com/juliendonck/video/upload/v1551880865/creepy-fastest-joined_1_l3kwzh.mp4">link
          to the video</a> instead.</p>
    </video>
  </div>
</header>