<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ $.Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
  <div class="narrow-menu" id="narrow-menu">
    <ul>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <button class="cross" id="close"></button>
  </div>
  <div class="nav-bar">
    <a href="/" class="rad-nav-logo"></a>
    <button class="hamburger" id="open">Menu</button>
    <div class="bar">
      <nav>
        <ul>
          {{ range .Site.Menus.main }}
          <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
      <a href="/docs/#installation" class="header-btn">install</a>
    </div>
  </div>
  <div class="garden-header">
    <h1>Radicle Garden</h1>
    <p>🌱 🌿 🌱 🌿 🌱 🌿 🌱</p>
    <p>Welcome! This is a community space where anyone can add a plot by
      walking through our Radicle introductory guide.</p>
    <a class="button" href="../docs/#try-radicle">Follow the guide to add your garden<span>→</span></a>
  </div>
  <div class="gardens-content">
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|      FIRST       |
|                  |
|                  |
|                  |
&#43;------------------&#43;
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|     SECOND       |
|                  |
|                  |
|xxxxxxxxxxxxxxxxxx|
&#43;------------------*
      </pre>
    <pre>
*                  *






*                  *
      </pre>
    <pre>
&lt;script&gt;
alert(&#39;get pwned&#39;);
&lt;/script&gt;
      </pre>
    <pre>
&#43;------.............
|      |
 . |      |
..|          |
|              |
|                 |
|     feels
|       must
      </pre>
    <pre>
..#####......######.
..#d_m#...f..#town#.
..#####.###..######t
..##1##.#2#..#3####.
...t................
.%.%%.............t.
.#5##.#6#..#&#43;#...###
.####.###..#&gt;#..t%%#
      </pre>
    <pre>
      ___
 ____/   \        ~o
/____|[4]|___ ~o~
|___ /   \ __\
/   \|___|/   \    ~
|[2]||[1]||[3]|.....
.....::.............
............~darthlu
      </pre>
    <pre>
&#39;     ~m455  ` , :(_
,   &#39;  ____ ,  .%,:(
    , /  \ \ , %%%:(
 `   /_██_\/  {@@@}(
    .  ::      \\| :
&#39;      ::   , ` ||.:
  &#34; ,  ::  `  . ..:(
    .  ::`  , .:::(
      </pre>
    <pre>
╔══════════════════╗
║~gildev   _/\_    ║
║        _/ __ \_  ║
║  v   _/  /  \  \_║
║  |  /|  |____|  |║
..*  v |   &#43;--&#43;   |.
-.| *| |   | .|   |-
╚══════════|.|═════╝
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|      FIRST       |
|                  |
|                  |
|                  |
&#43;------------------&#43;
      </pre>
    <pre>
*                  *






*                  *
      </pre>
    <pre>
&lt;script&gt;
alert(&#39;get pwned&#39;);
&lt;/script&gt;
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|      FIRST       |
|                  |
|                  |
|                  |
&#43;------------------&#43;
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|     SECOND       |
|                  |
|                  |
|xxxxxxxxxxxxxxxxxx|
&#43;------------------*
      </pre>
    <pre>
*                  *






*                  *
      </pre>
    <pre>
&lt;script&gt;
alert(&#39;get pwned&#39;);
&lt;/script&gt;
      </pre>
    <pre>
&#43;------.............
|      |
  . |      |
..|          |
|              |
|                 |
|     feels
|       must
      </pre>
    <pre>
..#####......######.
..#d_m#...f..#town#.
..#####.###..######t
..##1##.#2#..#3####.
...t................
.%.%%.............t.
.#5##.#6#..#&#43;#...###
.####.###..#&gt;#..t%%#
      </pre>
    <pre>
      ___
  ____/   \        ~o
/____|[4]|___ ~o~
|___ /   \ __\
/   \|___|/   \    ~
|[2]||[1]||[3]|.....
.....::.............
............~darthlu
      </pre>
    <pre>
&#39;     ~m455  ` , :(_
,   &#39;  ____ ,  .%,:(
    , /  \ \ , %%%:(
  `   /_██_\/  {@@@}(
    .  ::      \\| :
&#39;      ::   , ` ||.:
  &#34; ,  ::  `  . ..:(
    .  ::`  , .:::(
      </pre>
    <pre>
╔══════════════════╗
║~gildev   _/\_    ║
║        _/ __ \_  ║
║  v   _/  /  \  \_║
║  |  /|  |____|  |║
..*  v |   &#43;--&#43;   |.
-.| *| |   | .|   |-
╚══════════|.|═════╝
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|      FIRST       |
|                  |
|                  |
|                  |
&#43;------------------&#43;
      </pre>
    <pre>
*                  *






*                  *
      </pre>
    <pre>
&lt;script&gt;
alert(&#39;get pwned&#39;);
&lt;/script&gt;
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|      FIRST       |
|                  |
|                  |
|                  |
&#43;------------------&#43;
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|     SECOND       |
|                  |
|                  |
|xxxxxxxxxxxxxxxxxx|
&#43;------------------*
      </pre>
    <pre>
*                  *






*                  *
      </pre>
    <pre>
&lt;script&gt;
alert(&#39;get pwned&#39;);
&lt;/script&gt;
      </pre>
    <pre>
&#43;------.............
|      |
  . |      |
..|          |
|              |
|                 |
|     feels
|       must
      </pre>
    <pre>
..#####......######.
..#d_m#...f..#town#.
..#####.###..######t
..##1##.#2#..#3####.
...t................
.%.%%.............t.
.#5##.#6#..#&#43;#...###
.####.###..#&gt;#..t%%#
      </pre>
    <pre>
      ___
  ____/   \        ~o
/____|[4]|___ ~o~
|___ /   \ __\
/   \|___|/   \    ~
|[2]||[1]||[3]|.....
.....::.............
............~darthlu
      </pre>
    <pre>
&#39;     ~m455  ` , :(_
,   &#39;  ____ ,  .%,:(
    , /  \ \ , %%%:(
  `   /_██_\/  {@@@}(
    .  ::      \\| :
&#39;      ::   , ` ||.:
  &#34; ,  ::  `  . ..:(
    .  ::`  , .:::(
      </pre>
    <pre>
╔══════════════════╗
║~gildev   _/\_    ║
║        _/ __ \_  ║
║  v   _/  /  \  \_║
║  |  /|  |____|  |║
..*  v |   &#43;--&#43;   |.
-.| *| |   | .|   |-
╚══════════|.|═════╝
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|      FIRST       |
|                  |
|                  |
|                  |
&#43;------------------&#43;
      </pre>
    <pre>
*                  *






*                  *
      </pre>
    <pre>
&lt;script&gt;
alert(&#39;get pwned&#39;);
&lt;/script&gt;
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|      FIRST       |
|                  |
|                  |
|                  |
&#43;------------------&#43;
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|     SECOND       |
|                  |
|                  |
|xxxxxxxxxxxxxxxxxx|
&#43;------------------*
      </pre>
    <pre>
*                  *






*                  *
      </pre>
    <pre>
&lt;script&gt;
alert(&#39;get pwned&#39;);
&lt;/script&gt;
      </pre>
    <pre>
&#43;------.............
|      |
  . |      |
..|          |
|              |
|                 |
|     feels
|       must
      </pre>
    <pre>
..#####......######.
..#d_m#...f..#town#.
..#####.###..######t
..##1##.#2#..#3####.
...t................
.%.%%.............t.
.#5##.#6#..#&#43;#...###
.####.###..#&gt;#..t%%#
      </pre>
    <pre>
      ___
  ____/   \        ~o
/____|[4]|___ ~o~
|___ /   \ __\
/   \|___|/   \    ~
|[2]||[1]||[3]|.....
.....::.............
............~darthlu
      </pre>
    <pre>
&#39;     ~m455  ` , :(_
,   &#39;  ____ ,  .%,:(
    , /  \ \ , %%%:(
  `   /_██_\/  {@@@}(
    .  ::      \\| :
&#39;      ::   , ` ||.:
  &#34; ,  ::  `  . ..:(
    .  ::`  , .:::(
      </pre>
    <pre>
╔══════════════════╗
║~gildev   _/\_    ║
║        _/ __ \_  ║
║  v   _/  /  \  \_║
║  |  /|  |____|  |║
..*  v |   &#43;--&#43;   |.
-.| *| |   | .|   |-
╚══════════|.|═════╝
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|      FIRST       |
|                  |
|                  |
|                  |
&#43;------------------&#43;
      </pre>
    <pre>
*                  *






*                  *
      </pre>
    <pre>
&lt;script&gt;
alert(&#39;get pwned&#39;);
&lt;/script&gt;
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|      FIRST       |
|                  |
|                  |
|                  |
&#43;------------------&#43;
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|     SECOND       |
|                  |
|                  |
|xxxxxxxxxxxxxxxxxx|
&#43;------------------*
      </pre>
    <pre>
*                  *






*                  *
      </pre>
    <pre>
&lt;script&gt;
alert(&#39;get pwned&#39;);
&lt;/script&gt;
      </pre>
    <pre>
&#43;------.............
|      |
  . |      |
..|          |
|              |
|                 |
|     feels
|       must
      </pre>
    <pre>
..#####......######.
..#d_m#...f..#town#.
..#####.###..######t
..##1##.#2#..#3####.
...t................
.%.%%.............t.
.#5##.#6#..#&#43;#...###
.####.###..#&gt;#..t%%#
      </pre>
    <pre>
      ___
  ____/   \        ~o
/____|[4]|___ ~o~
|___ /   \ __\
/   \|___|/   \    ~
|[2]||[1]||[3]|.....
.....::.............
............~darthlu
      </pre>
    <pre>
&#39;     ~m455  ` , :(_
,   &#39;  ____ ,  .%,:(
    , /  \ \ , %%%:(
  `   /_██_\/  {@@@}(
    .  ::      \\| :
&#39;      ::   , ` ||.:
  &#34; ,  ::  `  . ..:(
    .  ::`  , .:::(
      </pre>
    <pre>
╔══════════════════╗
║~gildev   _/\_    ║
║        _/ __ \_  ║
║  v   _/  /  \  \_║
║  |  /|  |____|  |║
..*  v |   &#43;--&#43;   |.
-.| *| |   | .|   |-
╚══════════|.|═════╝
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|      FIRST       |
|                  |
|                  |
|                  |
&#43;------------------&#43;
      </pre>
    <pre>
*                  *






*                  *
      </pre>
    <pre>
&lt;script&gt;
alert(&#39;get pwned&#39;);
&lt;/script&gt;
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|      FIRST       |
|                  |
|                  |
|                  |
&#43;------------------&#43;
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|     SECOND       |
|                  |
|                  |
|xxxxxxxxxxxxxxxxxx|
&#43;------------------*
      </pre>
    <pre>
*                  *






*                  *
      </pre>
    <pre>
&lt;script&gt;
alert(&#39;get pwned&#39;);
&lt;/script&gt;
      </pre>
    <pre>
&#43;------.............
|      |
  . |      |
..|          |
|              |
|                 |
|     feels
|       must
      </pre>
    <pre>
..#####......######.
..#d_m#...f..#town#.
..#####.###..######t
..##1##.#2#..#3####.
...t................
.%.%%.............t.
.#5##.#6#..#&#43;#...###
.####.###..#&gt;#..t%%#
      </pre>
    <pre>
      ___
  ____/   \        ~o
/____|[4]|___ ~o~
|___ /   \ __\
/   \|___|/   \    ~
|[2]||[1]||[3]|.....
.....::.............
............~darthlu
      </pre>
    <pre>
&#39;     ~m455  ` , :(_
,   &#39;  ____ ,  .%,:(
    , /  \ \ , %%%:(
  `   /_██_\/  {@@@}(
    .  ::      \\| :
&#39;      ::   , ` ||.:
  &#34; ,  ::  `  . ..:(
    .  ::`  , .:::(
      </pre>
    <pre>
╔══════════════════╗
║~gildev   _/\_    ║
║        _/ __ \_  ║
║  v   _/  /  \  \_║
║  |  /|  |____|  |║
..*  v |   &#43;--&#43;   |.
-.| *| |   | .|   |-
╚══════════|.|═════╝
      </pre>
    <pre>
&#43;------------------&#43;
|                  |
|                  |
|      FIRST       |
|                  |
|                  |
|                  |
&#43;------------------&#43;
      </pre>
    <pre>
*                  *






*                  *
      </pre>
    <pre>
&lt;script&gt;
alert(&#39;get pwned&#39;);
&lt;/script&gt;
      </pre>
  </div>
  <section class="divider garden line white"></section>
  <footer class="global-footer garden">
    <ul>
      {{ range .Site.Menus.footer }}
      <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </footer>
  <script src="{{ "js/perlin.js" | relURL }}"></script>
  <script src="{{ "js/rad.js" | relURL }}"></script>
</body>

</html>
