<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ $.Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
  <div class="narrow-menu" id="narrow-menu">
    <ul>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <button class="cross" id="close"></button>
  </div>
  <div class="nav-bar">
    <a href="/" class="rad-nav-logo"></a>
    <button class="hamburger" id="open">Menu</button>
    <div class="bar">
      <nav>
        <ul>
          {{ range .Site.Menus.main }}
          <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
      <a href="/docs/#installation-setup" class="header-btn">install</a>
    </div>
  </div>
  <div class="garden-header">
    <h1>Radicle Garden</h1>
    <p>Welcome! This is a community space where you can add a garden by
      trying the Radicle tutorial.</p>
    <a class="button" href="../docs/#tutorial-1-contributor">Follow the tutorial 🌿<span>→</span></a>
  </div>
  <div class="gardens-content">
    {{- partial "plots.html" . -}}
  <br>
  </div>
  <div class="divider garden line white-line"></div>
  <footer class="global-footer garden">
    <ul>
      {{ range .Site.Menus.footer }}
      <li><a href="{{ .URL | relLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </footer>
  <script src="{{ "js/perlin.js" | relURL }}"></script>
  <script src="{{ "js/rad.js" | relURL }}"></script>
</body>

</html>
