// doc styles

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 780px;
  margin: 8em auto 0;
  padding: 0 32px;

  h1 {
    color: $blue;
    text-align: center;
    margin: 1em auto 3em;
  }

  article {
    margin-bottom: 4em;
    line-height: 24px;

    h1 {
      font-family: FoundersGrotesk, Arial, sans-serif;
      font-feature-settings: "kern", "liga", "ss01";
      font-size: 27px;
      line-height: 32px;
      font-weight: normal;
      font-style: normal;
      text-align: left;
      margin: 0 0 1em 0;
      color: $black;

      a {
        color: $black;
      }
    }

    h2 {
      margin: 2em 0 1em;
      font-family: FoundersGroteskMedium, Arial, sans-serif;
      font-feature-settings: "kern", "liga", "ss01";
      font-size: 18px;
      line-height: 22px;
      font-weight: normal;
      font-style: normal;

      @media (max-width: 640px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    p {
      margin-bottom: 1em;
    }

    ul {
      margin-bottom: 1em;
      list-style-type: none;

      li {
        padding-left: 26px;

        &:before {
          content: "\2014";
          position: absolute;
          margin-left: -24px;
        }
      }
    }

    img {
      max-width: 100%;
    }

    .footnote {
      margin-bottom: 1em;
      font-size: 14px;
      line-height: 18px;
      color: rgba($black, 0.6);

      td {
        word-break: break-all;
      }

      .label {
        width: 30px;
      }
    }

    blockquote {
      padding: 1em 2em;
      color: rgba($black, 0.6);
    }

    .attribution {
      font-style: normal;
      font-weight: normal;
    }

    .footnote-reference {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
      top: -0.5em;
    }

    pre {
      background-color: #f2f2f2;
      padding: 16px;
      margin: 1em 0;
      color: rgba($black, .8);
      overflow-x: auto;
    }

    code {
      overflow-x: auto;
      background-color: #f2f2f2;
      padding: 1px 3px;
      color: rgba($black, .8);
    }

    hr {
      border: 0;
      height: 6px;
      background-image: url("/img/wave-line.svg");
      background-repeat: repeat-x;
      margin: 48px 0 32px;
    }

    @media (max-width: 640px) {
      line-height: 22px;
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
  }

  .summary {
    margin-bottom: 1.5em;
  }

  .author {
    font-family: "VulfMono";
    font-size: 16px;
    line-height: 22px;
  }

  .blog-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
