// load ../fonts

@font-face {
  font-family: "FoundersGrotesk";
  src: url("../fonts/FoundersGroteskTextWeb-Regular.eot?") format("eot"),
    url("../fonts/FoundersGroteskTextWeb-Regular.woff2") format("woff2"),
    url("../fonts/FoundersGroteskTextWeb-Regular.woff") format("woff");
}
@font-face {
  font-family: "FoundersGroteskMedium";
  src: url("../fonts/FoundersGroteskTextWeb-Medium.eot?") format("eot"),
    url("../fonts/FoundersGroteskTextWeb-Medium.woff2") format("woff2"),
    url("../fonts/FoundersGroteskTextWeb-Medium.woff") format("woff");
}
@font-face {
  font-family: "FoundersGroteskMono";
  src: url("../fonts/FoundersGroteskMonoWeb-Regular.eot?") format("eot"),
    url("../fonts/FoundersGroteskMonoWeb-Regular.woff2") format("woff2"),
    url("../fonts/FoundersGroteskMonoWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "VulfMono";
  src: url("../fonts/Vulf_Mono-Light_Italic_web.ttf") format("eot"),
    url("../fonts/Vulf_Mono-Light_Italic_web.woff2") format("woff2"),
    url("../fonts/Vulf_Mono-Light_Italic_web.woff") format("woff");
}

@font-face {
  font-family: "FutureMono";
  font-weight: bold;
  src: url("../fonts/TheFutureMono01-Regular.otf");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  color: $black;
  height: 100%;
  font-family: FoundersGrotesk, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  overflow-x: hidden;
  @media (max-width: 640px) {
    font-size: 16px;
    line-height: 20px;
  }
}
p.captions {
  font-family: FoundersGrotesk, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-family: VulfMono, Arial, sans-serif;
  font-size: 42px;
  line-height: 52px;
  font-weight: normal;
  font-style: normal;
  @media (max-width: 640px) {
    font-size: 24px;
    line-height: 32px;
  }
}

h2 {
  font-family: FutureMono, monospace;
  font-size: 28px;
  line-height: 33px;
  font-weight: normal;
  font-style: normal;
  @media (max-width: 640px) {
    font-size: 21px;
    line-height: 24px;
  }
}
h3 {
  font-family: FoundersGrotesk, Arial, sans-serif;
  font-size: 27px;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
}
h4 {
  font-family: FoundersGroteskMedium, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  @media (max-width: 640px) {
    font-size: 16px;
    line-height: 20px;
  }
}

code,
pre {
  font-family: FoundersGroteskMono, monospace;
  font-size: 16px;
  line-height: 22px;
  @media (max-width: 640px) {
    font-size: 14px;
    line-height: 18px;
  }
}

strong {
  font-family: FoundersGroteskMedium, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

p {
  code {
    opacity: 0.8;
  }
}

a {
  color: $blue;
  &.active {
    opacity: 0.8;
  }
  &:hover {
    text-decoration: underline;
  }
  @media (max-width: 640px) {
    font-size: 16px;
    line-height: 20px;
  }
}
