.garden-header {
  display: flex;
  margin-top: 64px;
  height: 406px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  color: $white;
  text-align: center;
  @media (max-width: 640px) {
    height: 320px;
  }
  h1 {
    margin-bottom: .5em;
  }
  a {
    border: 1px solid $white;
  }
  p {
    max-width: 460px;
    margin-bottom: 1.5em;
    padding: 0 24px;
  }
}
.gardens-content {
  background-color: $blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  pre {
    color: $white;
    font-family: monospace;
    font-size: 15px;
  }
}
