// Nav bar
// nav styles

.nav-bar {
  display: grid;
  grid-template-columns: 106px 1fr;
  align-items: center;
  height: 64px;
  width: 100%;
  padding: 0 16px;
  z-index: 10;
  background-color: $white;
  border-bottom: 1px solid rgba($black, 0.2);
  position: fixed;
  transition: none;
  top: 0;

  .bar {
    display: flex;
    justify-self: flex-end;

    .header-btn {
      margin-left: 20px;
    }

    @media (max-width: 640px) {
      display: none;
    }
  }

  &#nav {
    transition: top 0.2s;
    top: -64px;
    left: 0;
  }
}

.hamburger {
  text-indent: -9999px;
  width: 20px;
  display: flex;
  justify-self: flex-end;
  background-image: url("https://res.cloudinary.com/juliendonck/image/upload/v1550050429/radicle.xyz/hamburger_rs9dhv.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  @media (min-width: 640px) {
    display: none;
  }
}

nav {
  ul {
    display: flex;

    li {
      font-size: 16px;
      margin-left: 20px;
    }
  }

  a {
    color: $red;
  }
}

.rad-nav-logo {
  width: 106px;
  height: 24px;
  background-image: url("https://res.cloudinary.com/juliendonck/image/upload/v1549882894/radicle.xyz/radicle-logo-2_el4fmz.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

// narrow-menu

.narrow-menu {
  background-color: $red;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: fixed;
  top: -182px;
  left: 0;
  z-index: 11;
  transition: top 0.2s;
  width: 100%;

  li {
    color: $white;
    line-height: 30px;
  }

  a {
    color: $white;
  }
}

.cross {
  height: 17px;
  width: 17px;
  background-image: url("https://res.cloudinary.com/juliendonck/image/upload/v1550050945/radicle.xyz/cross_h4rofi.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}